/* =========================================================== */
/*  ------------------------------------------------------------
    PLAZreset-CSS
    Plazmediå® 2019 · Plazmediå LAB™ 
    http://www.plazmedia.com.mx/home
    v4.0.5| 19220919
    License: Copyright © · All rights reserved
*/
/* =========================================================== */

/* Plazmedia color variable */
:root{
    /* ---------- Colores Primarios ----------- */
        --plaz-color:               #4918FA;
        --secondary:                #181B32;
        --secondary-alt:            #0F1125;
        --complementary:            #03CAD2;
    
    /* ------------- Degradado ---------------- */
        --plaz-gradient1:           #310DFF;
        --plaz-gradient2:           #9107fa;
    
    /* ----------- Monocromático -------------- */
        --Black:                    #000000;
        --white:                    #ffffff;
    
    /* ------------- Botones ---------------- */
    /* Boton Relacionar */
        --relacionar:               #4918FA;
        --relacionar-hover:         #5F33FF;
        --relacionar-active:        #2C09AD;
    /* Boton Primary */
        --primary:                  #0061ff;
        --primary-hover:            #008cff;
        --primary-active:           #005aeb;
    /* Confirmar */
        --green:                    #3EA538;
        --green-hover:              #64BA5D;
        --green-active:             #348C30;
    /* Cancelar */
        --orange:                   #FF412C;
        --orange-hover:             #FF5E52;
        --orange-active:            #B3200F;
    /* Info */
        --info:                     #F2B600;
        --info-hover:               #ffc926;
        --info-active:              #f2a200;
    /* Gray */
        --gray-mark:                #f4f4f8;
        --gray:                     #e8e8f1;
        --gray-hover:               #d8d8e7;
        --gray-active:              #c8c8de;

    /* -----------Escala de grises ----------- */
        --gray-10:                  #1A1A1A;
        --gray-15:                  #262626;
        --gray-20:                  #333333;
        --gray-25:                  #3f3f3f;
        --gray-30:                  #4D4D4D;
        --gray-40:                  #666666;
        --gray-50:                  #7f7f7f;
        --gray-60:                  #999999;
        --gray-70:                  #B3B3B3;
        --gray-75:                  #bfbfbf;
        --gray-80:                  #CCCCCC;
        --gray-85:                  #d8d8d8;
        --gray-90:                  #E6E6E6;
        --gray-95:                  #F1F1F1;

    /* ------ Disabled ----- */
        --disabled-color:           #e6e6e6;
        --disabled-color-d:         #9eabb1;


        --screen-cut-s:              480px;
        --screen-cut-m:              570px;
        --screen-cut-l:              768px;
        --screen-cut-xl:             1100px;


        --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
/*============================================================*/

/* Main control of the HTML tag */
html{
    /** 1rem = 10px - Reset para REMS - 62.5% = 10px de 16px que es el estandar de tamaño para la funete de los navegadores. **/
    font-size: 62.5%; 

    font-family: var(--font);
    
    line-height:1.6;
    -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* Margen, relleno y scroll en x. */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.5rem;
}
/* Margin en etiquetas p */
p{
    margin: .5rem 0;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.6rem;
}
pre{
    display: block;
    font-size: 90%;
    text-align: left;
    padding: 1rem 0 1rem 3rem;
    margin: 2rem auto;
    overflow: hidden;
    border: .1rem solid var(--gray)
}
@media only screen and (max-width: 900px){
    pre{
        overflow-x: scroll;
    }
}
/* Margin en etiquetas H */
h1, h2, h3, h4, h5, h6{
    margin: 1rem 0;
    line-height: 1;
}
/* Tamaños de etiquetas H */
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.25rem;
}

/* Diseño de enlaces */
a{
    color:var(--plaz-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* Control de texto Small */
small {
    font-size: 80%;
    font-weight: 400;
}
abbr[title], abbr{
    cursor: help;
}
/* Controles alternativos */
hr{
    height: .1rem;
    overflow: hidden;
    background-color: var(--gray-85);
    margin: 2rem auto;
}
ol, ul, dl{
    margin: 1rem;
}
dt{
    font-weight: bold;
}
dt, dd{
    font-style: oblique;
};
button,
input,
textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
    font-size: 100%; 
    margin: 0;
}
button:focus{
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
/* Imagen adaptada a su contenedor */
img{
    max-width: 100%;
    border-style: none;
}
/* Before y after (s)*/
*,::before,::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
cite{
    display: block;
    text-align: right;
    padding-right: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
label{
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    margin-right: 1.1rem;
    margin-bottom: .8rem;
    letter-spacing: inherit;
    font-weight: 400;  
}
    
/* -------------------- ^ PLAZreset-CSS ^ -------------------- */
/* =========================================================== */


/* =========================================================== */
/*  ------------------------------------------------------------
    CSS-Plaz
    Plazmediå® 2019 · Plazmediå LAB™ 
    http://www.plazmedia.com.mx/home
    v4.0.5 | 19220919
    License: Copyright © · All rights reserved
*/
/* =========================================================== */

/* ------ Contenedor Principal ----- */
.container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
@media only screen and (min-width: 480px){
    .container{
        width: 95%;
    }
}
@media only screen and (min-width: 768px){
    .container{
        width: 90%;
    }
}
@media only screen and (min-width: 990px){
    .container{
        max-width: 100rem;
    }
}
/* ------ Barra de Navegación ----- */
.navbar{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 0;
    background-color: transparent;
}
.container-100{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    min-width: 0%;
    max-width: 95%;
}
@media only screen and (min-width: 480px){
    .container-100{
        min-width: 95%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media only screen and (min-width: 768px){
    .container-100{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        min-width: 95%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media only screen and (min-width: 1200px){
    .container-100{
        min-width: 97.5%;
    }
}
.navbar-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    padding-left: 0;
}
@media only screen and (min-width: 510px){
    .navbar-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: normal;
                flex-direction: normal;
        flex-direction: row;
    }
}
.navbar-nav > *{
    display: block;
    margin-left: 0;
    margin: .5rem auto;
}
@media only screen and (min-width: 510px){
    .navbar-nav > *:not(:nth-child(1)){
        display: inline-block;
        margin-left: 1.5rem;
    }
}
/* ------ Imagen en Logotipo ----- */
.navbar-logo{
    -webkit-box-flex: flex-start;
        -ms-flex: flex-start;
            flex: flex-start;
}
.logo-img{
    padding: 0;
    margin: 1rem auto;
    width: 22rem;
}
@media only screen and (min-width: 510px){
    .logo-img{
        padding: .5rem;
        margin: 0;
        width: 17rem;
    }
}
/* ------ Clases Contenedores ----- */
.card{
    width: 100%;
    margin: 0 auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid var(--gray-active);
    border-radius: 0.7rem;
}
.card-header{
    padding: 1.2rem;
    margin: 0;
    border-bottom: .1rem solid var(--gray-hover);
    border-radius: 0.7rem 0.7rem 0 0;
}
.card-header > *{
    margin: 0;
}
@media only screen and (min-width: 480px){
    .card-header{
        padding: 1.5rem;
    }
}
@media only screen and (min-width: 768px){
    .card-header{
        padding: 1.8rem;
    }
}
.card-body{
    padding: 1rem;
    margin: 0;
}
@media only screen and (min-width: 480px){
    .card-body{
        padding: 1.8rem;
    }
}
@media only screen and (min-width: 990px){
    .card-body{
        padding: 2.8rem;
    }
}
.card-footer{
    padding: .8rem 1.2rem;
    margin: 0;
    border-top: .1rem solid var(--gray-hover);
    top: 0;
    border-radius: 0 0 0.7rem 0.7rem;
    text-align: center;
    color: var(--gray-50);
}
@media only screen and (min-width: 480px){
    .card-footer{
        padding: 1rem 1.5rem;
    }
}
@media only screen and (min-width: 768px){
    .card-footer{
        padding: 1.3rem 1.8rem;
    }
}
.card-body hr{
    border: .1rem solid var(--gray-85);
}
/* ------ Blockquote ----- */
.blockquote{
    letter-spacing: .05rem;
    position: relative;
    background-color: var(--gray-mark);
    border-color: var(--gray-hover);
    border-style:dashed dashed dashed solid;
    border-radius: .5rem 0 0 .5rem;
    border-width:1px 1px 1px 5px;
    color: var(--gray-60);
    padding-top: .7rem;
    padding-right: .7rem;
    padding-bottom: .9rem;
    padding-left: 4.5rem;
    margin: 2rem 0 2rem 0;
}
.quote::before{ 
    font-family: "FontAwesome", sans-serif;
    font-size: 9rem;
    color: inherit;
    content: "\201d";
    line-height: 1;
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    top: .2rem;
    left: .8rem;
    opacity: .5;
}
.blockq-plaz{
    background-color: #E6E1FA;
    border-color: #B0A1E6;
    color: var(--plaz-color);
    border-left-color: var(--plaz-color);
}
.blockq-primary{
    background-color: #d8e7ff;
    border-color: #9dc2ff;
    color: var(--primary);
    border-left-color: var(--primary);
}
.blockq-ok{
    background-color: #d8f1d7;
    border-color: #76cf70;
    color: var(--green);
    border-left-color: var(--green);
}
.blockq-cancel{
    background-color: #ffe0dd;
    border-color: #ffaba2;
    color: var(--orange);
    border-left-color: var(--orange);
}
.blockq-info{
    background-color: #fff7de;
    border-color: var(--info);
    color: #b78a00;
    border-left-color: var(--info);
}
.blockq-white{
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
    border-left-color: var(--white);
}
.blockq-black{
    background-color: var(--gray-90);
    border-color: var(--gray-75);
    color: var(--gray-15);
    border-left-color: var(--gray-15);
}
/* ------ Displays ----- */
.display-f{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.justify-c-bet{
    -ms-flex-pack: justify!important;
    -webkit-box-pack: justify!important;
            justify-content: space-between!important;
}
.align-i-c{
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
            align-items: center!important; 
}
/* ------ Solucionar Fix de los Floats ----- */
.clearfix::before,
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

/* ------ utilidades ----- */
.test{
    background-color: rgba(73, 24, 250, .5)
}
.white,
.white a,
a.white{
    color: var(--white);
}
.white a:hover,
a.white:hover{
    color: var(--primary-hover);
}
.black,
.black a{
    color: var(--gray-15);
}
.disabled{
    color: var(--disabled-color-d);
}
.bg-plaz{
    background-color: var(--plaz-color);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-sec{
    background-color: var(--secondary);
}
.bg-sec-alt{
    background-color: var(--secondary-alt);
}
.bg-black{
    background-color: var(--gray-10);
}
.bg-gray{
    background-color: var(--gray);
}
.bg-gray-light{
    background-color: var(--gray-mark);
}
.bg-white{
    background-color: var(--white);
}
.bg-green{
    background-color: var(--green);
}
.bg-orange{
    background-color: var(--orange);
}
.uper{
    text-transform: uppercase;
}
.txt-c{
    text-align: center!important;
}
.txt-l{
    text-align: left!important;
}
.txt-r{
    text-align: right!important;
}
.vm-xs{
    margin: .5rem auto;
}
.vm-0{
    margin: 0;
}
.vm-sx{
    margin: .5rem auto;
}
.vm-s{
    margin: 1rem auto;
}
.vm-m{
    margin: 2rem auto;
}
.vm-mm{
    margin: 3rem auto;
}
.vm-l{
    margin: 4rem auto;
}
.vm-xl{
    margin: 6rem auto;
}
.hm-0{
    margin: 0;
}
.hm-xs{
    margin: auto .5rem;
}
.hm-s{
    margin: auto 1rem;
}
.hm-m{
    margin: auto 2rem;
}
.hm-mm{
    margin: auto 3rem;
}
.hm-l{
    margin: auto 4rem;
}
.hm-xl{
    margin: auto 6rem;
}
.mt-0{
    margin-top: 0;
}
.mt-xs{
    margin-top: .5rem;
}
.mt-s{
    margin-top: 1rem;
}
.mt-m{
    margin-top: 2rem;
}
.mt-mm{
    margin-top: 3rem;
}
.mt-l{
    margin-top: 4rem;
}
.mt-xl{
    margin-top: 6rem;
}
.mb-0{
    margin-bottom: 0;
}
.mb-xs{
    margin-bottom: .5rem;
}
.mb-s{
    margin-bottom: 1rem;
}
.mb-m{
    margin-bottom: 2rem;
}
.mb-mm{
    margin-bottom: 3rem;
}
.mb-l{
    margin-bottom: 4rem;
}
.mb-xl{
    margin-bottom: 6rem;
}
.ml-0{
    margin-left: 0;
}
.ml-xs{
    margin-left: .5rem;
}
.ml-s{
    margin-left: 1rem;
}
.ml-m{
    margin-left: 2rem;
}
.ml-mm{
    margin-left: 3rem;
}
.ml-l{
    margin-left: 4rem;
}
.ml-xl{
    margin-left: 6rem;
}
.mr-0{
    margin-right: 0;
}
.mr-xs{
    margin-right: .5rem;
}
.mr-s{
    margin-right: 1rem;
}
.mr-m{
    margin-right: 2rem;
}
.mr-mm{
    margin-right: 3rem;
}
.mr-l{
    margin-right: 4rem;
}
.mr-xl{
    margin-right: 6rem;
}
.in-l-b{
    display: inline-block;
}
.block{
    display: block;
}
.box-shadow-s{
    -webkit-box-shadow: 0 .7rem 1.3rem -1rem rgba(0,0,0,.4);
        -moz-box-shadow: 0 .7rem 1.3rem -1rem rgba(0,0,0,.4);
            box-shadow: 0 .7rem 1.3rem -1rem rgba(0,0,0,.4);
}
.box-shadow-m{
    -webkit-box-shadow: 0px .3rem 1rem -.4rem rgba(0,0,0,0.5);
        -moz-box-shadow: 0px .3rem 1rem -.4rem rgba(0,0,0,0.5);
            box-shadow: 0px .3rem 1rem -.4rem rgba(0,0,0,0.5);
}
.box-shadow-l{
    -webkit-box-shadow: 0px .5rem 1rem -.3rem rgba(0,0,0,.6);
        -moz-box-shadow: 0px .5rem 1rem -.3rem rgba(0,0,0,.6);
            box-shadow: 0px .5rem 1rem -.3rem rgba(0,0,0,.6);
}
.box-shadow-solid-s{
    -webkit-box-shadow: 0 .3rem 0 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 .3rem 0 0 rgba(0,0,0,.1);
            box-shadow: 0 .3rem 0 0 rgba(0,0,0,.1);
}
.box-shadow-solid-m{
    -webkit-box-shadow: 0 .4rem 0 0 rgba(0,0,0,.15);
        -moz-box-shadow: 0 .4rem 0 0 rgba(0,0,0,.15);
            box-shadow: 0 .4rem 0 0 rgba(0,0,0,.15);
}
.box-shadow-solid-l{
    -webkit-box-shadow: 0 .5rem 0 0 rgba(0,0,0,.15);
        -moz-box-shadow: 0 .5rem 0 0 rgba(0,0,0,.15);
            box-shadow: 0 .5rem 0 0 rgba(0,0,0,.15);
}
/* ------ Text Tags ----- */
.txt-tag{
    padding: .3rem .7rem;
    border-radius: .3rem;
    background-color: var(--gray);
    color: var(--gray-25);
    font-weight: bold;
}
.txt-tag-in{
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: .3rem;
    font-weight: 400;
    display: inline-block;
    font-size: 85%;
    background-color: var(--gray);
    color: var(--gray-25);
}
.txt-tag-r{
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 1rem;
    font-weight: 400;
    display: inline-block;
    font-size: 85%;
    background-color: var(--gray);
    color: var(--gray-25);
}
a.txt-tag,
a.txt-tag-in,
a.txt-tag-r{
    cursor: pointer;
    text-decoration: none;
} 
a.txt-tag:hover,
a.txt-tag-in:hover,
a.txt-tag-r:hover{
    background-color: var(--gray-hover);
} 
.tag-plaz{
    background-color: var(--plaz-color);
    color: var(--white);
}
a.tag-plaz:hover{
    background-color: var(--relacionar-hover);
}
.tag-primary{
    background-color: var(--primary);
    color: var(--white);
}
a.tag-primary:hover{
    background-color: var(--primary-hover);
}
.tag-ok{
    background-color: var(--green);
    color: var(--white);
}
a.tag-ok:hover{
    background-color: var(--green-hover);
}
.tag-cancel{
    background-color: var(--orange);
    color: var(--white);
}
a.tag-cancel:hover{
    background-color: var(--orange-hover);
}
.tag-info{
    background-color: var(--info);
    color: #554000;
}
a.tag-info:hover{
    background-color: var(--info-hover);
}
.tag-white{
    background-color: var(--white);
    color: var(--gray-10);
}
a.tag-white:hover{
    background-color: var(--gray);
}
.tag-black{
    background-color: var(--gray-15);
    color: var(--white);
}
a.tag-black:hover{
    background-color: var(--gray-25);
}
/* ------ Formularios ----- */
.form-component{
    display: inline-block;
    width: 100%;
    height: calc(1.5rem + 2rem + .3rem);
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: inherit;
    font-family: inherit;
    color: var(--gray-30);
    font-weight: 400;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: var(--white);
    border: 1px solid var(--gray-active);
    border-radius: .4rem;
    background-clip: padding-box;
}
.form-text{
    height: auto;
}
.form-component::-webkit-input-placeholder{
    color: var(--gray-active);
    opacity: 1;
}
.form-component:-ms-input-placeholder{
    color: var(--gray-active);
    opacity: 1;
}
.form-component::-ms-input-placeholder{
    color: var(--gray-active);
    opacity: 1;
}
.form-component::placeholder{
    color: var(--gray-active);
    opacity: 1;
}
.form-component:focus{
    color: var(--gray-25);
    background-color: #fff;
    border-color: #89b6ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.3rem rgba(0, 97, 255, 0.2);
            box-shadow: 0 0 0 0.3rem rgba(0, 97, 255, 0.2);
}
.form-subtitle{
    font-size: 95%;
    margin-top: 0;
    margin-bottom: .8rem;
    margin-left: 1rem;
    margin-right: auto; 
    color: var(--disabled-color-d);
}
/* ------ Clases Mensajes ----- */
.msn{
    padding: .5rem 1rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: .5rem;
    border: .1rem solid var(--gray-active);
    color: var(--gray-active);
}
.msn hr{
    width: 95%;
    background-color: #000000;
    opacity: .4;
}
.msn a{
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}
.msn a:hover{
    text-decoration: underline;
}
.msn-plaz{
    background-color: #E6E1FA;
    border: 1px solid #B0A1E6;
    color: var(--plaz-color);
}
.msn-primary{
    background-color: #d8e7ff;
    border: 1px solid #9dc2ff;
    color: var(--primary);

}
.msn-ok{
    background-color: #d8f1d7;
    border: 1px solid #76cf70;
    color: var(--green);
}
.msn-error{
    background-color: #ffe0dd;
    border: 1px solid #ffaba2;
    color: var(--orange);
}
.msn-info{
    background-color: #fff7de;
    border: 1px solid var(--info);
    color: #b78a00;
}
.msn-gray{
    background-color: var(--white);
    border: 1px solid var(--gray-85);
    color: var(--gray-50);
}
.msn-dark{
    background-color: var(--gray-90);
    border: 1px solid var(--gray-75);
    color: var(--gray-15);
}
/* ------ Clases Botones ----- */
.btn{
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 1.45rem;
    line-height: 1;
    text-align: center;
    margin: .5rem;
    padding: 1.2rem 1.5rem;
    letter-spacing: .1rem;
    border-radius: .4rem;
    border: none;
    -webkit-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out;
    background-color: transparent;
    color: var(--white);
    border: .1rem solid var(--disabled-color-d);
}
.btn-s{
    font-weight: normal!important;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    border-radius: .4rem;
    -webkit-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.15s ease-in-out;
    background-color: transparent;
    color: var(--white);
    border: .1rem solid var(--disabled-color-d);
}
.btn-block{
    display: block!important;
}
.btn-block-100{
    margin: .5rem auto;
    display: block!important;
    width: 100%
}
.btn.disabled, .btn:disabled {
    pointer-events: none;
    background-color: var(--disabled-color);
    color: var(--disabled-color-d);
    border: .1rem solid var(--disabled-color-d);
}
.navbar-nav .btn ul li a i,
.navbar-nav .btn ul a i,
.navbar-nav .btn a i,
.navbar-nav a i,
a i{
    margin-left: .5rem;
}
/* ------ Btn Solid----- */
.btn-plaz{
    background-color: var(--relacionar);
    border: .1rem solid var(--relacionar);
}
.btn-plaz:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--relacionar-hover);
    border: .1rem solid var(--relacionar-hover);
}
.btn-plaz:active{
    background-color: var(--relacionar-active);
}
.btn-primary{
    background-color: var(--primary);
    border: .1rem solid var(--primary);
}
.btn-primary:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary-hover);
    border: .1rem solid var(--primary-hover);
}
.btn-primary:active{
    background-color: var(--primary-active);
}
.btn-ok{
    background-color: var(--green);
    border: .1rem solid var(--green);
}
.btn-ok:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--green-hover);
    border: .1rem solid var(--green-hover);
}
.btn-ok:active{
    background-color: var(--green-active);
}
.btn-cancel{
    background-color: var(--orange);
    border: .1rem solid var(--orange);
}
.btn-cancel:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--orange-hover);
    border: .1rem solid var(--orange-hover);
}
.btn-cancel:active{
    background-color: var(--orange-active);
}
.btn-info{
    background-color: var(--info);
    color:#554000;
    border: .1rem solid var(--info);
}
.btn-info:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--info-hover);
    border: .1rem solid var(--info-hover);
}
.btn-info:active{
    background-color: var(--info-active);
}
.btn-black{
    background-color: var(--gray-15);
    border: .1rem solid var(--gray-15);
    color: var(--white);
}
.btn-black:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--gray-25);
    border: .1rem solid var(--gray-25);
}
.btn-black:active{
    background-color: var(--gray-10);
}
.btn-gray{
    background-color: var(--gray);
    color: #525288;
    border: .1rem solid var(--gray);
}
.btn-gray:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--gray-hover);
    border: .1rem solid var(--gray-hover);
}
.btn-gray:active{
    background-color: var(--gray-active);
}
/* ------ Btn Line----- */
.btn-plaz-l{
    color: var(--plaz-color);
    border: .1rem solid var(--relacionar);
    font-weight: bold;
}
.btn-plaz-l:hover{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--relacionar);
}
.btn-plaz-l:active{
    background-color: var(--relacionar-active);
}
.btn-primary-l{
    color: var(--primary);
    border: .1rem solid var(--primary);
    font-weight: bold;
}
.btn-primary-l:hover{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary);
}
.btn-primary-l:active{
    background-color: var(--primary-active);
}
.btn-ok-l{
    color: var(--green);
    border: .1rem solid var(--green);
    font-weight: bold;
}
.btn-ok-l:hover{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--green);
}
.btn-ok-l:active{
    background-color: var(--green-active);
}
.btn-cancel-l{
    color: var(--orange);
    border: .1rem solid var(--orange);
    font-weight: bold;
}
.btn-cancel-l:hover{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--orange);
}
.btn-cancel-l:active{
    background-color: var(--orange-active);
}
.btn-info-l{
    color: var(--info);
    border: .1rem solid var(--info);
    font-weight: bold;
}
.btn-info-l:hover{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--info);
}
.btn-info-l:active{
    background-color: var(--info-active);
}
.btn-black-l{
    color: var(--gray-15);
    border: .1rem solid var(--gray-15);
    font-weight: bold;
}
.btn-black-l:hover{
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--gray-15);
}
.btn-black-l:active{
    background-color: var(--gray-10);
}
.btn-gray-l{
    color: var(--white);
    border: .1rem solid var(--white);
    font-weight: bold;
}
.btn-gray-l:hover{
    color: var(--gray-15);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--gray);
}
.btn-gray-l:active{
    color: var(--gray-15);
    background-color: var(--gray-10);
}
/* ---------------------- ^ CSS-Plaz ^ ----------------------- */
/* =========================================================== */